<app-card>
    <div class="content" align="center">
        <div class="container" *ngIf="response==null">
            <h2>Create Consumer Business</h2>
            <form [formGroup]="consumerForm" (ngSubmit)=" onSubmit(consumerForm.value)" method="post" novalidate>
                <div class="form-group">
                    <label for="">First Name:</label>
                    <input formControlName="firstName" id="firstname" type="text" class="form-control"
                        placeholder="First Name" required />
                    <div *ngIf="consumerForm.controls['firstName'].invalid && (consumerForm.controls['firstName'].touched || consumerForm.controls['firstName'].dirty)"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['firstName'].errors!['required']">
                            First Name is required.
                        </div>
                        <div *ngIf="consumerForm.controls['firstName'].errors!['pattern']">
                            First Name should be min length 3.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Last Name:</label>
                    <input formControlName="lastName" id="lastname" type="text" class="form-control"
                        placeholder="Last Name" required />
                    <div *ngIf="consumerForm.controls['lastName'].invalid && consumerForm.controls['lastName'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['lastName'].errors!['required']">
                            Last Name is required.
                        </div>
                        <div *ngIf="consumerForm.controls['firstName'].errors!['pattern']">
                            Last Name should be min length 3.
                        </div>
                    </div>
                </div>
                <div>
                    <label>DOB:</label>
                    <input formControlName="dob" id="dob" type="text" class="form-control"
                        placeholder="Date of Birth" />
                    <div *ngIf="consumerForm.controls['dob'].invalid && consumerForm.controls['dob'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['dob'].errors!['required']">
                            DOB is required.
                        </div>
                        <div *ngIf="consumerForm.controls['dob'].errors!['pattern']">
                            DOB must be in dd/mm/yyyy format.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Pan Details:</label>
                    <input formControlName="pan" id="pandetails" type="text" class="form-control"
                        placeholder="Pan Details" />
                    <div *ngIf="consumerForm.controls['pan'].invalid && consumerForm.controls['pan'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['pan'].errors!['required']">
                            Pan is required.
                        </div>
                        <div *ngIf="consumerForm.controls['pan'].errors!['pattern']">
                            Pan is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Email:</label>
                    <input formControlName="email" id="email" type="text" class="form-control" placeholder="Email" />
                    <div *ngIf="consumerForm.controls['email'].invalid && consumerForm.controls['email'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['email'].errors!['required']">
                            Email is required.
                        </div>
                        <div *ngIf="consumerForm.controls['email'].errors!['email']">
                            Email is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Business Name:</label>
                    <input formControlName="businessName" id="validity" type="text" class="form-control"
                        placeholder="Validity" />
                    <div *ngIf="consumerForm.controls['businessName'].invalid && consumerForm.controls['businessName'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['businessName'].errors!['required']">
                            Business Name is required.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Business Type:</label>
                    <input formControlName="businessType" id="businessname" type="text" class="form-control"
                        placeholder="Business Type" />
                    <div *ngIf="consumerForm.controls['businessType'].invalid && consumerForm.controls['businessType'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['businessType'].errors!['required']">
                            Business Type is required.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Validity:</label>
                    <input formControlName="validity" id="validity" type="text" class="form-control"
                        placeholder="Validity" />
                    <div *ngIf="consumerForm.controls['validity'].invalid && consumerForm.controls['validity'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['validity'].errors!['required']">
                            Validity is required.
                        </div>
                        <div *ngIf="consumerForm.controls['validity'].errors!['maxLength']">
                            Validity is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Agent Id:</label>
                    <input formControlName="agentId" id="agentid" type="number" class="form-control"
                        placeholder="Agent Id" />
                    <div *ngIf="consumerForm.controls['agentId'].invalid && consumerForm.controls['agentId'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['agentId'].errors!['required']">
                            Agent Id is required.
                        </div>
                        <div *ngIf="consumerForm.controls['agentId'].errors!['pattern']">
                            Agent Id is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Agent Name:</label>
                    <input formControlName="agentName" id="agentname" type="text" class="form-control"
                        placeholder="Agent Name" />
                    <div *ngIf="consumerForm.controls['agentName'].invalid && consumerForm.controls['agentName'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['agentName'].errors!['required']">
                            Agent Name is required.
                        </div>
                        <div *ngIf="consumerForm.controls['agentName'].errors!['pattern']">
                            Agent Name is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Business Turnover:</label>
                    <input formControlName="businessTurnover" id="businessturnover" type="number" class="form-control"
                        placeholder="Business Turnover" />
                    <div *ngIf="consumerForm.controls['businessTurnover'].invalid && consumerForm.controls['businessTurnover'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['businessTurnover'].errors!['required']">
                            Business Turnover is required.
                        </div>
                        <div *ngIf="consumerForm.controls['businessTurnover'].errors!['pattern']">
                            Business Turnover is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Capital Invested:</label>
                    <input formControlName="capitalInvested" id="capitalinvested" type="number" class="form-control"
                        placeholder="Capital Invested" />
                    <div *ngIf="consumerForm.controls['capitalInvested'].invalid && consumerForm.controls['capitalInvested'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['capitalInvested'].errors!['required']">
                            Capital Invested is required.
                        </div>
                        <div *ngIf="consumerForm.controls['capitalInvested'].errors!['pattern']">
                            Capital Invested is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Total Employees</label>
                    <input formControlName="totalEmployees" id="totalemployees" type="text" class="form-control"
                        placeholder="Total Employees" />
                    <div *ngIf="consumerForm.controls['totalEmployees'].invalid && consumerForm.controls['totalEmployees'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['totalEmployees'].errors!['required']">
                            Total Employees is required.
                        </div>
                        <div *ngIf="consumerForm.controls['totalEmployees'].errors!['pattern']">
                            Total Employees is not valid.
                        </div>
                    </div>
                </div>
                <div>
                    <label>Business Age:</label>
                    <input formControlName="businessAge" id="businessage" type="number" class="form-control"
                        placeholder="Business Age" />
                    <div *ngIf="consumerForm.controls['businessAge'].invalid && consumerForm.controls['businessAge'].touched"
                        class="alert alert-danger">
                        <div *ngIf="consumerForm.controls['businessAge'].errors!['required']">
                            Business Age is required.
                        </div>
                        <div *ngIf="consumerForm.controls['businessAge'].errors!['pattern']">
                            Business Age is not valid.
                        </div>
                    </div>
                </div>
                <div align="center">
                    <input type="submit" class="btn btn-success" value="Create Consumer Business" />
                </div>
            </form>
        </div>
        <table style="border: 0px solid black;border-collapse: collapse;">
            <div *ngIf="response!=null || errorMsg!=''">

                <h6>Consumer Business Status:</h6>
                <h6>
                    <span class="text-success">{{response}}</span>
                    <span class="text-danger">{{errorMsg}}</span>
                </h6>
                <div class="btn-group mt-3" role="group">
                    <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
                    <!-- <button type="button" class="btn btn-primary" routerLink="../">Go Back</button> -->
                </div>
            </div>
        </table>
    </div>
</app-card>
